<mat-card class="aboutForm mat-elevation-z8">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- display about text -->

    <mat-card-header class="form-header">
      <h1>
        <label for="about" style="float: none; width: 100%">About</label><br/>
      </h1>
    </mat-card-header>
    <mat-card-content>
      <textarea matInput formControlName="about" id="about" rows="10" cols="45" placeholder="About" [disabled]="true"
                readonly></textarea>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Close</button>
    </mat-card-actions>
  </form>
</mat-card>
