.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 270px;
  background-color: azure;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}
