/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.search-bar {
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.app-sidenav {
  width: 270px;
  background-color: azure;
}
